# Project Options
PROJECT_NAME=php-mysql-dev

# PHP Options
PHP_VERSION=8.2-apache
PHP_PORT=80

# MySQL Options
MYSQL_VERSION=8.0
MYSQL_USER=developer
MYSQL_PASSWORD=developer_password
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=app_database

# MySQL Port (comment out to not expose MySQL port externally)
MYSQL_PORT=3306
